@media only screen and (min-width: 1440px) {
  html {
    zoom: 125%;
  }

  .team-area {
    display: flex;
    width: 100%;
    justify-content: space-around;
    grid-gap: 10px;
    margin-top: 100px;
  }

  .single-team {
    width: 19.565rem;
    height: 11.375rem;
    padding: 24px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  .single-team .team-text {
    position: relative;
    width: 100%;
    height: 10rem;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
  }

  .single-team:hover {
    transform: translateY(15px);
  }

  .single-team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 19.565rem;
    height: 11.375rem;
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 119, 181, 1) 10%);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  .single-team:hover::before {
    opacity: 1;
  }

  .single-team:hover .team-text {
    opacity: 1;
    transform: translateY(0);
  }

  .single-team img {
    width: 19.565rem;
    height: 11.375rem;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
  }

  .team-text h2 {
    margin: 0;
    letter-spacing: 0.1875rem;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.767);
  }

  .team-text p {
    letter-spacing: 1px;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: antiquewhite;
    color: rgba(255, 255, 255, 0.808);
  }

  .summary-stack {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    bottom: 0;
  }

  .item1 {
    position: relative;
    display: grid;
    margin: 0;
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .item1 li {
    position: relative;
    margin: 0;
  }

  .item2 {
    position: relative;
    margin: 0;
    grid-area: 1 / 3/ span 1 / span 2;
    text-align: center;
  }

  .item2 a {
    position: relative;
  }

  .item2 a i {
    position: relative;
    font-size: 2.1875rem;
    margin: 0.3125rem 0;
    color: #fff;
    padding: 0.25rem 0.375rem;
  }
  footer {
    text-align: center;
    padding-bottom: 1.125rem;
  }
}

@media (max-width: 1440px) {
  .team-area {
    display: flex;
    width: 100%;
    justify-content: space-around;
    grid-gap: 10px;
    margin-top: 100px;
  }

  .single-team {
    width: 15.652rem;
    height: 9.1rem;
    padding: 8px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  .single-team .team-text {
    position: relative;
    width: 100%;
    height: 8rem;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(48px);
    transition: 0.5s;
  }

  .single-team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15.652rem;
    height: 9.1rem;
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%,rgba(0, 119, 181, 1) 10%);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  .single-team:hover::before {
    opacity: 1;
  }

  .single-team:hover .team-text {
    opacity: 1;
    transform: translateY(0);
  }

  .single-team img {
    width: 15.652rem;
    height: 9.1rem;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
  }

  .team-text h2 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 0.767);
  }

  .team-text p {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
    color: antiquewhite;
    color: rgba(255, 255, 255, 0.808);
  }

  .summary-stack {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    bottom: 0;
  }

  .item1 {
    position: relative;
    display: grid;
    margin: 0;
    padding: 0;
    padding-left: 1.2rem;
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }

  .item1 li {
    position: relative;
    margin: 0;
    float: left;
  }

  .item2 {
    position: relative;
    margin: 0;
    grid-area: 1 / 3/ span 1 / span 2;
    text-align: center;
  }

  .item2 a {
    position: relative;
  }

  .item2 a i {
    position: relative;
    font-size: 1.5rem;
    margin: 0.3rem 0;
    color: #fff;
    padding: 0.2rem 0.3rem;
  }

  footer {
    text-align: right;
    padding-bottom: 1.125rem;
  }
}

@media (max-width: 600px) {

  .team-area {
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-gap: 25px;
    margin-top: 25px;
  }

  .single-team {
    width: 357.76px;
    height: 208px;
    padding: 24px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  .team-text {
    display: grid;
    width: 100%;
    height: 11rem !important;
    margin-bottom: -1rem;
  }

  .single-team .team-text {
    position: relative;
    z-index: 3;
    color: #fff;
  }

  .single-team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 357.76px;
    height: 208px;
    background: rgb(29,109,165);
    background: radial-gradient(circle, rgba(0, 119, 181, 0.842) 50%, rgba(0, 119, 181, 0.647) 100%);
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
  }

  .single-team:hover::before {
    opacity: 1;
  }

  .single-team:hover .team-text {
    opacity: 1;
  }

  .single-team img {
    width: 357.76px;
    height: 208px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .team-text h2 {
    position: relative;
    height: 40px;
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #fff;
  }

  .team-text p {
    position: relative;
    margin-bottom: 5rem !important;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
  }

  .item1 li, .item2 i{
    color: #fff !important;
  }

  .social-icons {
    display: flex;
    width: 100%;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
  }

  .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: rgba(255, 255, 255, 0.445) !important;
    border-radius: 100%;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 0 !important;
  }

  .summary-stack {
    width: 300px;
    height: 80px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }

  .item1 {
    position: relative;
    display: grid;
    height: 50%;
    margin: 0;
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  .item1 li {
    position: relative;
    color: rgba(255, 255, 255, 0.63);
  }

  .item2 {
    position: relative;
    margin: 0;
    grid-area: 1 / 3/ span 1 / span 2;
    text-align: center;
    margin-top: 1.2rem !important;
  }

  .item2 a {
    position: relative;
  }

  .item2 a i {
    position: relative;
    margin: 0;
    color: rgba(255, 255, 255, 0.63);
    padding: 4px 6px;
    font-size: 3rem;
  }
}

li.list-inline-item:hover {
  animation: shake 0.6s infinite;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
    transform: translate(2px, 1px) rotate(2deg);
  }
  100% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
}
