@media only screen and (min-width: 600px) {

  .team-area {
    display: flex;
    width: 100%;
    justify-content: space-around;
    grid-gap: 10px;
    margin-top: 100px;
  }

  .single-team {
    width: 313.04px;
    height: 182px;
    padding: 24px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  .single-team .team-text {
    position: relative;
    width: 100%;
    height: 160px;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
  }

  .single-team:hover {
    transform: translateY(15px);
  }

  .single-team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 313.04px;
    height: 182px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  .single-team:hover::before {
    opacity: 1;
  }

  .single-team:hover .team-text {
    opacity: 1;
    transform: translateY(0);
  }

  .single-team img {
    width: 313.04px;
    height: 182px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .team-text h2 {
    margin: 0;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.767);
  }

  .team-text p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 0;
    color: antiquewhite;
    color: rgba(255, 255, 255, 0.808);
  }

  .summary-stack {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    bottom: 0;
  }

  .item1 {
    position: relative;
    display: grid;
    margin: 0;
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .item1 li {
    position: relative;
    margin: 0;
  }

  .item2 {
    position: relative;
    margin: 0;
    grid-area: 1 / 3/ span 1 / span 2;
    text-align: center;
  }

  .item2 a {
    position: relative;
  }

  .item2 a i {
    position: relative;
    font-size: 35px;
    margin: 5px 0;
    color: #fff;
    padding: 4px 6px;
  }

  footer {
    text-align: center;
    padding-bottom: 18px;
  }
}

@media (max-width: 600px) {

  .team-area {
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-gap: 25px;
    margin-top: 25px;
  }

  .single-team {
    width: 357.76px;
    height: 208px;
    padding: 24px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  .team-text {
    display: grid;
    width: 100%;
  }

  .single-team .team-text {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
  }

  .single-team:hover {
    transform: translateY(10px);
  }

  .single-team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 357.76px;
    height: 208px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  .single-team:hover::before {
    opacity: 1;
  }

  .single-team:hover .team-text {
    opacity: 1;
    transform: translateY(0);
  }

  .single-team img {
    width: 357.76px;
    height: 208px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .team-text h2 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.658);
  }

  .team-text p {
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 1px;
    color: antiquewhite;
    color: rgba(255, 255, 255, 0.651);
  }

  .social-icons {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }

  .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: rgba(255, 255, 255, 0.445) !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-top: 1.5rem;
  }

  .summary-stack {
    width: 300px;
    height: 60px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }

  .item1 {
    position: relative;
    display: grid;
    margin: 0;
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  .item1 li {
    position: relative;
    color: rgba(255, 255, 255, 0.63);
  }

  .item2 {
    position: relative;
    margin: 0;
    grid-area: 1 / 3/ span 1 / span 2;
    text-align: center;
  }

  .item2 a {
    position: relative;
  }

  .item2 a i {
    position: relative;
    margin: 12px 0;
    color: rgba(255, 255, 255, 0.63);
    padding: 4px 6px;
  }
}
